<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">
                           
                           <!-- Primitive Types  : -->
                           <!-- This is our First bean -->
                           <!-- Inserting values as an element method -1 -->
                           <bean class="com.springcore.si.Student" name="student1">
                           
                           <property name="studentId">
                           <value>1001</value>
                           </property>
                           
                           <property name="studentName">
                           <value>Abhinav Raj</value>
                           </property>
                           
                           <property name="studentAddress">
                           <value>Ranchi</value>
                           </property>
                           
                           </bean>
                           
                           <!-- This is Second bean -->
                           <!-- Inserting Values as attributes method -2 -->
                           <bean class="com.springcore.si.Student" name="student2">
                           
                           <property name="studentId" value="1002" />
                           
                           <property name="studentName" value="Raj Kumar" />
                           
                           <property name="studentAddress" value="Jamsedpur" />
                           
                           </bean>
                           
                           <!-- This is Third bean -->
                           <!-- Inserting values using P-Schema -3 -->
                           
                           <bean class="com.springcore.si.Student" name="student3" p:studentId="1001" p:studentName="Abhinav" p:studentAddress="New Ranchi" />
</beans>